/* Start Variables */
:root {
  --main-color-bg: #fff;
  --secondary-color-bg: #F1F1F1;
  --btn-bg: #0D6EFD;
  --btn-color: #FF205A;
  --btn-hover:#33D1CC;
  --main-text-p:#fff;
  --secondary-text-p:#212529;
  --hover-trans:0.3s;
}

/* End Variables */
/* start scroll bar */

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: var(--btn-hover);
  transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
} */

/* end scroll bar */
/* start normalize */

html{
 scroll-behavior: smooth;
}

*, *::before, *::after{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
   font-family: "Rubik", sans-serif;
   font-optical-sizing: auto;
}

/* end normalize */
/* start header */

.navbar{
 opacity: 0;
 transform: translateY(-100%);
 animation: navdown 0.8s cubic-bezier(.1, 1, .3, 1) both;
}

@keyframes navdown{
    from{
        transform: translateY(-100%); 
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .logo .icon{
    color: var(--main-text-p);
    animation:spiner 20s linear infinite;
}

@keyframes spiner{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.my-nav .navbar-brand{
    color: var(--btn-color);
}

.my-nav .nav-link.active{
    color: #FF205A;
    position: relative;
    font-weight: bold;
}

.my-nav .nav-link.active::after{
  content: " ";
  position: absolute;
  bottom: 6px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--btn-color);
  transition: var(--hover-trans) ;
}

.my-nav .nav-link{
    position: relative;
}

.my-nav .nav-link:not(.active):hover{
    color: var(--main-text-p);
    
}

.my-nav .nav-link:not(.active):after,
.my-nav .nav-link:not(.active):before{
  content: " ";
  position: absolute;
  bottom: 6px;
  width: 0%;
  height: 2px;
  background-color: var(--btn-color);
  transition: var(--hover-trans) ;
}

.my-nav .nav-link::after{
 left: 50%; 
}
.my-nav .nav-link::before{
 right: 50%;
}

.my-nav .nav-link:not(.active):hover::after,
.my-nav .nav-link:not(.active):hover::before
{
  width: 50%;
}


/* responsif for phones */
@media(min-width: 100px) and (max-width: 991px){
 .my-nav .nav-link.active::after{
    width: 0%;
 }

 .my-nav .nav-link:hover::after,
 .my-nav .nav-link:hover::before
 {
  width: 0%;
 }

 .my-nav .nav-link.active{
    color: var(--main-text-p);
 }
}

/*=======end header===== */
/* ========start hero====== */

.hero{
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-social{transition: var(--hover-trans);}
.hero-social1{animation: fadeUp 0.8s 0.2s ease both;}
.hero-social2{animation: fadeUp 0.8s 0.3s ease both;}
.hero-social3{animation: fadeUp 0.9s 0.4s ease both;}
.hero-social4{animation: fadeUp 0.9s 0.5s ease both;}
.hero-social5{animation: fadeUp 0.9s 0.6s ease both;}

.hero-social:hover {
  transform: translatex(-3px);
  box-shadow: 0px 0px 70px var(--main-text-p);
}

.hero .hero-content .hero-badg{
    padding: 10px 19px;
    font-size: 0.9rem; 
    animation:fadeUp .8s .2s ease both;
}

.hero .hero-content .hero-badg .dott{
 background-color: var(--btn-color);
 animation: fadein 2s infinite;
}

@keyframes fadein{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.hero .hero-content .hero__title{
    font-size: clamp(2.8rem, 6vw, 4.5rem);
    line-height: 1;
    background: linear-gradient(160deg, #fff 30%, #FF205A  100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation:fadeUp 0.9s 0.3s ease both;
}

.hero .hero-content .hero-word .word{
    opacity: 0;
    animation: changeWord 9s linear infinite;
}

.hero .hero-content .hero-word .word1{
    animation-delay: 0s;
}
.hero .hero-content .hero-word .word2{
    animation-delay: 3s;
}
.hero .hero-content .hero-word .word3{
    animation-delay: 6s;
}

@keyframes changeWord{
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }
    10%{
        opacity: 1;
        transform: translateX(0%);
    }
    30%{
        opacity: 1;
        transform: translateX(0%);
    }
    40%{
        opacity: 0;
        transform: translateX(10%);
    }
    100%{
        opacity: 0;
        transform: translateX(10%);
    }
}

.hero .hero-content .hero__btns{
    animation:fadeUp 0.9s 0.5s ease both;
}

.hero .hero-content .hero__btns .btn-contact{
  background-color: var(--btn-color);
  color: black;
  transition: var(--hover-trans);
}

.hero .hero-content .hero__btns .btn-contact:hover{
 transform: translateY(-2px);
  box-shadow: 0px 0px 150px var(--btn-color);
}

.hero .hero-content .hero__btns .btn-Portfolio{
    background: transparent;
    color: var(--main-color-bg);
    border: 1px solid var(--main-color-bg);
    transition: var(--hover-trans);
}

.hero .hero-content .hero__btns .btn-Portfolio:hover{
    background: #7c3aed15;
    border-color: var(--btn-color);
    transform: translateY(-2px);
}

.hero .hero-content .hero__scroll .hero__scroll-text{
    font-size: 10px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.495);
}

.hero .hero-content .hero__scroll .hero__scroll-line{
    width: 1px; 
    height: 60px; 
    background: linear-gradient(to bottom, var(--btn-color), transparent);
    animation: scrollLine 1.8s linear infinite;
}

@keyframes scrollLine{
    0%{
        transform: scaleY(0);
        transform-origin: top;
    }
    50%{
        transform: scaleY(1);
        transform-origin: top;
    }
    51%{
        transform: scaleY(1);
        transform-origin: bottom;
    }
    100%{
        transform: scaleY(0);
        transform-origin: bottom;
    }
}

@keyframes fadeUp {
      from { opacity:0; transform:translateY(30px); }
      to   { opacity:1; transform:translateY(0); }
}

@media(min-width: 100px) and (max-width: 990px){
 .hero .hero-content .hero__scroll{
    bottom: 5px;
 }
}

 /*========end hero======*/
  /*========start about======*/

.about .about-header .about-header-tittle{
    font-size: clamp(2.5rem, 6vw, 4rem);
    animation:fadeUp 0.8s 0.2s ease both;
}

.about .about-header .about-header-tittle.back{
 color: rgba(0, 0, 0, 0.192);
 letter-spacing: 8px;
}

.about .about-header .about-header-tittle.front{
 color: rgb(0, 0, 0);
 letter-spacing: 2px;
}

.about .imge{
    box-shadow: 0px 0px 80px var(--secondary-text-p);
    animation:fadeUp 0.8s 0.4s ease both;
}

.about .imge img{
 transition: var(--hover-trans);
 box-shadow: 0px 0px 80p var(--secondary-text-p);
 
}

.about .imge img:hover{
    transform: scale(1.1);
}

.about .about-content .name{
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: 0.9;
    animation:fadeUp 0.8s 0.4s ease both;
}

.about .about-content .about-word .word{
    opacity: 0;
    animation: changeWord2 9s linear infinite;
}

@keyframes changeWord2{
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }
    10%{
        opacity: 1;
        transform: translateX(0%);
    }
    30%{
        opacity: 1;
        transform: translateX(0%);
    }
    40%{
        opacity: 0;
        transform: translateX(30%);
    }
    100%{
        opacity: 0;
        transform: translateX(30%);
    }
}

.about .about-content .about-word .word1{
    animation-delay: 0s;
}
.about .about-content .about-word .word2{
    animation-delay: 3s;
}
.about .about-content .about-word .word3{
    animation-delay: 6s;
}

@keyframes changeWord{
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }
    10%{
        opacity: 1;
        transform: translateX(0%);
    }
    30%{
        opacity: 1;
        transform: translateX(0%);
    }
    40%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 0;
        transform: translateX(100%);
    }
}

.about .about-content .about-word .word2 .ui{
    color: var(--btn-color);
}

.about .about-content .about-btns{
  animation:fadeUp 1s 0.6s ease both;
}

.about .about-content .about-btns .cv{
    background-color: var(--secondary-text-p);
    color: var(--main-text-p);
    border-radius: 20px 0px;
    transition: var(--hover-trans);
}

.about .about-content .about-btns .cv:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 150px var(--secondary-text-p);
}

.about .about-content .about-btns .email{
    background: transparent;
    border: 1px solid var(--secondary-text-p);
    border-radius: 20px 0px;
    transition: var(--hover-trans);
    word-break: break-all;

}
 
.about .about-content .about-btns .email:hover{
    color: var(--secondary-text-p);
    transform: translateY(-3px);
}

/*========end about====== */
/*========start Testmonial====== */

.testmonial{
    background-color: var(--secondary-color-bg);
}

.testmonial .testmonial-header .testmonial-header-tittle{
    font-size: clamp(2.5rem, 6vw, 4rem);
    animation:fadeUp 0.8s 0.2s ease both;
}

.testmonial .testmonial-header .testmonial-header-tittle.back{
 color: rgba(0, 0, 0, 0.192);
 letter-spacing: 8px;
}

.testmonial .testmonial-header .testmonial-header-tittle.front{
 color: rgb(0, 0, 0);
 letter-spacing: 2px;
}

.testmonial .team-imge img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translateY(50%);
    
}

.testmonial .team-content h2{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    animation:fadeUp 0.8s 0.4s ease both;
}

.testmonial .team-content h2::after{
    content: " ";
    position: absolute;
    bottom: -9px;
    left: 46%;
    width: 8%;
    height: 2px;
    background-color: var(--secondary-text-p);
    animation:fadeUp 0.9s 0.5s ease both;
}

.testmonial .team-content h3{
    font-size: 15px;
    color: var(--secondary-text-p);
    line-height: 2;
    animation:fadeUp 0.9s 0.6s ease both;
}

.testmonial .carousel-indicators [data-bs-target]{
 width: 50px;
 height: 50px;
 text-indent: 0;
}

/*========end Testmonial====== */
/* ========start Services======-*/

.services .services-header .services-header-tittle{
    font-size: clamp(2.5rem, 6vw, 4rem);
    animation:fadeUp 0.8s 0.2s ease both;
}

.services .services-header .services-header-tittle.back{
 color: rgba(0, 0, 0, 0.192);
 letter-spacing: 8px;
}

.services .services-header .services-header-tittle.front{
 color: rgb(0, 0, 0);
 letter-spacing: 2px;
}

.services ul{
    background-color: var(--btn-color);
    animation:fadeUp 0.8s 0.2s ease both;
}

.services ul  .nav-item .nav-link.active{
    background-color: #222;
    color: var(--main-text-p);  
}

.services ul  .nav-item .nav-link{
     color: var(--main-text-p); 
      
}

.services .card .card-body .badge{
    background-color: var(--btn-color);
    color: var(--main-text-p);
}

.services .card .card-body .card-text{
   font-size: 16px;
}

.services .card{
    transition: var(--hover-trans);
}

.services .card:hover{
  transform: translateY(-8px);
  box-shadow: 0 0 30px var(--secondary-text-p);
}

.services .card .card-imge .overlay{
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: var(--hover-trans);
}

.services .card:hover .overlay{
    opacity: 1;
}

.services .card-imge img{
   transition: 0.4s ease; 
}

.services .card:hover .card-imge img{
    transform: scale(1.05);
}

.services .card .overlay .btn{
    background-color:var(--btn-color);
    color: var(--main-text-p);
    transition: var(--hover-trans);
}

.services .card .overlay .btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 30px var(--btn-color);
}

.services .card .overlay .ghost{
    background-color:transparent;
    color: var(--main-text-p);
    border: 2px solid var(--main-text-p);
    transition: var(--hover-trans);
}

.services .card .overlay .ghost:hover{
    border: 2px solid var(--btn-color);
    box-shadow: 0 0 0px var(--btn-color);
}

/*========end Services======*/
/*========start footer======*/

footer .links .link a {
    display: block;
    color: var(--main-text-p);
    transition: var(--hover-trans);
}

footer .links .link a:hover{
    color: var(--btn-color);
    transform: translateX(-2px);
}

footer .icons .footer-social{
    transition: var(--hover-trans);
}

footer .icons .footer-social:hover{
    transform: translateX(-2px);
}